Repository 2024-TikiTaka/fe-triptroop, pull requests merged in 2024-05, with the labels that each got.

#2 #1 project settings
  .idea/misc.xml
  README.md
  package-lock.json
  package.json
  public/images/footer_background.jpg
  public/images/logo.svg
  src/App.js
  src/Common.css
  src/CustomButton.css
  src/components/common/Button/CustomButton.js
  src/components/common/Footer/Footer.css
  src/components/common/Footer/Footer.js
  src/components/common/Header/Header.css
  src/components/common/Header/Header.js
  src/components/common/Header/Navigation.js
  src/layouts/layout.js
  src/utils/TokenUtils.js
Labels: duplicate

#5 #3 레이아웃 및 컴포넌트 셋팅 수정
  package-lock.json
  package.json
  public/images/header_icon_mypage_basic.png
  public/images/header_icon_mypage_hover.png
  public/images/header_icon_mypage_white.png
  src/App.js
  src/Common.css
  src/CustomButton.css
  src/components/common/Footer/Footer.css
  src/components/common/Footer/Footer.js
  src/components/common/Footer/FooterImage.js
  src/components/common/Footer/FooterList.js
  src/components/common/Header/AfterLogin.js
  src/components/common/Header/BeforeLogin.js
  src/components/common/Header/DesktopNavbar.js
  src/components/common/Header/Header.css
  src/components/common/Header/Header.js
  src/components/common/Header/Logo.js
  src/components/common/Header/MobileNavbar.js
  src/components/common/Main/Main.js
  src/components/common/PagingBar.js
  src/layouts/Footer.js
  src/layouts/Header.js
  src/layouts/Wrapper.js
  src/layouts/layout.js
Labels: 🎨Layout

#7 #6 ISSUE, PR 템플릿 수정 및 불필요 파일 삭제
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .idea/misc.xml
  src/App.js
  src/index.js
  src/layouts/Layout.js
Labels: ⚙️Setting

#9 #8 기본 레이아웃 구조 변경
  src/App.js
  src/common.css
  src/components/common/Footer.js
  src/components/common/Footer/FooterImage.js
  src/components/common/Footer/FooterList.js
  src/components/common/Header.js
  src/components/common/Header/AfterLogin.js
  src/components/common/Header/BeforeLogin.js
  src/components/common/Header/DesktopNavbar.js
  src/components/common/Header/Logo.js
  src/components/common/Header/MobileNavbar.js
  src/components/common/Main/Main.js
  src/components/common/Wrapper.js
  src/components/pagination/PagingBar.js
  src/layouts/Footer.js
  src/layouts/Header.js
  src/layouts/Layout.js
  src/layouts/Wrapper.js
Labels: 🔧Refactor, 🎨Layout
